<footer class="responsive bg-dark text-white py-1">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-4">
        <a class="navbar-brand text-white" href="#">
          <img
            src="/assets/images/logo.png"
            width="35"
            height="35"
            class="d-inline-block align-top me-2"
            alt=""
          />
          Movie Search
        </a>
      </div>
      <div class="white-text col-md-4 mt-2">
        <h6>Follow us on social media</h6>
        <ul class="list-inline">
          <li class="list-inline-item mx-2">
            <a href="#"><i class="bi bi-facebook"></i></a>
          </li>
          <li class="list-inline-item mx-2">
            <a href="#"><i class="bi bi-twitter"></i></a>
          </li>
          <li class="list-inline-item mx-2">
            <a href="#"><i class="bi bi-instagram"></i></a>
          </li>
          <li class="list-inline-item mx-2">
            <a
              href="https://www.linkedin.com/in/frederico-berchof-69983a135/"
              target="_blank"
              ><i class="bi bi-linkedin"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mt-2 white-text">
        <h6>Contact us</h6>
        <p>E-mail: fred.berchof&#64;gmail.com</p>
      </div>
    </div>
  </div>
</footer>
