.movie-cover {
  text-align: center;
}
img {
  max-width: 59%;
  height: auto;
  margin-left: 53px;
}

.card {
  border: none;
}

.img {
  transition: transform 0.3s;
}

.img:hover {
  transform: scale(1.04);
}
