@import "bootstrap/scss/bootstrap";
<<<<<<< HEAD
=======

.text {
  color: #3c4048;
  font-family: "Lato", sans-serif;
}

.white-text {
  color: #ffff;
  font-family: "Lato", sans-serif;
}

.btn {
  font-family: "Lato", sans-serif !important;
}

.btn-bigger {
  width: 200px;
}
>>>>>>> origin/movie-search
